PORT=3001
DB_PATH=/var/www/cleanweek/backend/data/cleanweek.db
FRONTEND_DIR=/var/www/cleanweek/frontend/dist
VAPID_EMAIL=ton@email.com
VAPID_PUBLIC_KEY=votre_vapid_public_key_ici
VAPID_PRIVATE_KEY=votre_vapid_private_key_ici
